/** General Style */
* {
  margin: 0;
  padding: 0;
}

::selection {
  color: white;
  background-color: #1aa6fb;
}

.nav-link.active,
.nav-link:hover {
  color: #1aa6fb !important;
}

/** Style Navbar */

header {
  background-color: rgb(243, 243, 243);
}

.navbar-brand img {
  width: 10rem;
  height: auto;
}

/** Style for Hero Section Index */

.hero .container {
  padding: 5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background: #1aa6fb;
  background: linear-gradient(
    96deg,
    rgba(26, 166, 251, 0) 0%,
    rgba(26, 166, 251, 0.7) 60%
  );
  border-radius: 2rem;
}

.buttonHero {
  padding: 0.7rem 1rem;
  border-radius: 2rem;
  border: none;
  background-color: #1aa6fb;
  color: white;
  text-decoration: none;
}

.buttonHero:hover {
  transition: background-color 0.1s ease-in-out;
  background-color: #147bba;
}

/** Style for Section Card Products */

.allProducts h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.allProducts {
  margin-top: 2rem;
}

.rowProducts {
  gap: 2rem 0;
}

.singleCard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 37rem;
  padding: 2rem;
  border: 1px solid rgb(208, 208, 208);
  border-radius: 1rem;
}

.singleProductContainer a {
  padding: 0.7rem 1rem;
  border-radius: 2rem;
  border: none;
  background-color: #1aa6fb;
  color: white !important;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.singleProductContainer a:hover {
  transition: background-color 0.1s ease-in-out;
  background-color: #147bba;
}

.containerImgProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.containerImgProduct img {
  object-fit: cover;
  width: 40%;
  height: auto;
  border: none;
}

.rowProducts h2 {
  font-size: 1.3rem;
}

.bodyCard p:first-of-type,
.bodyCardInfo p:first-of-type {
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  border: 1px solid rgb(208, 208, 208);
  width: fit-content;
  background-color: rgb(234, 234, 234);
  color: rgb(84, 83, 83);
}

/** Style for Product Page */

.productInfoContainer {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.containerImgProductInfo {
  width: 30%;
  height: 60%;
  overflow: hidden;
}

.imgProductInfo {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.bodyCardInfo h2 {
  color: #1aa6fb;
}

.bodyCardInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bodyCardInfo a {
  cursor: not-allowed;
  border-radius: 2rem;
  color: rgb(117, 1, 1) !important;
  border: 1px solid rgb(152, 54, 54);
  padding: 1rem;
  background-color: rgb(255, 123, 123);
  width: fit-content;
}

.bodyCardInfo a::selection {
  background: none;
  color: rgb(117, 1, 1);
}

/** Style for Hero Section BackOffice */

.hero .container {
  padding: 5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background: #1800a3;
  background: linear-gradient(
    96deg,
    rgba(26, 166, 251, 0) 0%,
    rgba(30, 14, 177, 0.7) 60%
  );
  border-radius: 2rem;
}

.back-office h2 {
  color: rgb(45, 45, 45);
}

.buttonHeroBack {
  background: white;
  padding: 1rem;
  border-radius: 2rem;
  color: rgb(45, 45, 45);
  text-decoration: none;
  border: 1px solid rgb(210, 210, 210);
}

.addProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 0 1rem;
  border-radius: 2rem;
  color: rgb(5, 107, 5);
  background-color: rgb(130, 204, 130);
  border: 1px solid green;
}

/** Style for Table Product BackOffice */

.productPreviewImg {
  padding: 1rem;
  width: fit-content;
}

.productPreviewImg img {
  width: 2rem;
  height: auto;
}

.viewProductSite {
  padding: 0.4rem;
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  color: rgb(0, 58, 100);
  background-color: hsl(203, 100%, 75%);
  border: 1px solid rgb(0, 85, 128);
  width: fit-content;
  text-decoration: none;
}

.editProduct {
  padding: 0.4rem;
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  color: #796f00;
  background-color: #f0e034;
  border: 1px solid rgb(128, 122, 0);
  width: fit-content;
  text-decoration: none;
}
.deleteProduct {
  padding: 0.4rem;
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  color: #670101;
  background-color: #df6a6a;
  border: 1px solid rgb(92, 1, 1);
  width: fit-content;
  text-decoration: none;
}

.td-actions {
  display: flex;
  gap: 1rem;
}

/** Style for form */

form {
  position: relative;
  padding: 2rem;
  border: 1px solid grey;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.inputData {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputData p {
  margin: 0;
  padding: 0;
  color: rgb(193, 44, 44);
  font-size: 0.8rem;
}

.inputData div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputData div input {
  height: 3rem;
  border-radius: 2rem;
  padding: 1rem;
  border: 0.5px solid grey;
}

.buttonForm {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.buttonForm button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.7rem;
  border-radius: 2rem;
}

.submitFormButton,
.editButtonForm {
  color: rgb(5, 107, 5);
  background-color: rgb(130, 204, 130);
  border: 1px solid green;
}

.cancelButtonForm {
  color: #670101;
  background-color: #df6a6a;
  border: 1px solid rgb(92, 1, 1);
}

.formClose {
  position: absolute;
  right: 0;
  margin-right: 2rem;
}

/** Style for modal warning delete product */

.modal-content {
  align-items: center;
  border-radius: 2.3rem;
  padding: 1.5rem;
  border: 1.3rem solid rgba(255, 255, 255, 0.411);
  outline: 1px solid rgba(255, 255, 255, 0.678);
}

.modal-header {
  display: flex;
  flex-direction: column;
  border: none;
}

.warningIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: rgba(255, 203, 203, 0.679);
  padding: 1.3rem;
  border-radius: 50%;
  border: 0.5rem solid rgba(255, 133, 133, 0.165);
  margin-bottom: 1rem;
}

.warningIcon span {
  color: #c92525;
}

.modal-body {
  text-align: center;
}

.modal-footer {
  border: none;
}

.modal-footer button {
  text-align: center;
  width: 10rem;
  height: 3em;
  padding: 0.7rem 1rem;
  border-radius: 2rem;
  border: 1px solid rgb(214, 214, 214);
}

.confirmDeleteButton {
  color: #670101;
  background-color: #df6a6a;
}
