.allProducts {
  margin-top: 2rem;
}

.rowProducts {
  gap: 2rem 3rem;
}

.singleProductContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30%;
  height: 37rem;
  padding: 3rem;
  box-shadow: 1px 5px 9px 3px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.singleProductContainer button {
  padding: 0.7rem 1rem;
  border-radius: 2rem;
  border: none;
}

.containerImgProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.containerImgProduct img {
  object-fit: cover;
  width: 40%;
  height: auto;
  border: none;
}

.rowProducts h2 {
  font-size: 1.3rem;
}
